#google-map-index-image {
    width: 155px;
    margin-left: 15px;
}

.map-modal-elements p {
    margin: 3px;
    /* text-decoration: none; */
    color: black;
}

.map-modal-elements {
    text-decoration: none;
}

.index-map {
    /* margin-right: 10%; */
    width: 50%;
}

#map-stars {
    display: flex;
    justify-content: space-between;
    width: 170px;
}

/* .star-3 {
    font-size: 15px;
} */