#hamburger {
    width: 20px;
    padding-right: 10px;
}

.dropdown-menu {
    position: absolute;
    top: 15px;
    right: 30px;
}

.dropdown-button {
    cursor: pointer;
    margin-top: -10px;
}

#profile-dropdown-pic {
    width: 30px;
    border-radius: 50%;
}

