#filtered-listings-index {
    display: flex;
    flex-direction: row;
}

.filtered-index-map {
    display: flex;
    width: 40%;
}

#filtered-listings-index-ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* position: absolute;
    top: 50px; */
    /* width: 50%; */
    /* left: -3%; */
}

#filtered-listings-index-ul div {
    /* width: 20%; */
    /* margin-left: 5%; */
    min-width: 200px;
}

/* .filtered-map-container {
    position: sticky;
    top: 0;
    width: 10%;
} */



.filtered-listing-index-item {
    width: 250px;
    height: 250px;
    margin: 20px;
    margin-bottom: 90px;
}


.filtered-index-show-list-element {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
}