#filtered-listings-index {
    display: flex;
    flex-direction: row;
    position: sticky;
}

.filtered-index-map {
    position: sticky !important;
    top: 0;
    margin-left: 50%;
    margin-top: -10px;
    width: 50%;
}

#filtered-listings-index-ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 50px;
    width: 50%;
    left: -5%;
}

#filtered-listings-index-ul div {
    width: 35%;
    margin: 5%;
    min-width: 200px;
    /* margin-bottom: 100px; */
}

/* .filtered-map-container {
    position: sticky;
    top: 0;
    width: 10%;
} */
/* 
.filtered-map-container {
    overflow: hidden;
    position: sticky;
    top: 0;
  } */

  .filtered-index-item {
    margin-bottom: 50px;
  }