#header-bar {
    position: sticky;
    top: 0px;
    margin-top: 5px;
    padding-bottom: 8px;
    border-bottom: 1px lightgray solid;
    margin-bottom: 10px;
    background-color: white;
    z-index: 1
}