.listings-index ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.index-show-list-element {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
}


#listing-show-page {
    width: 40%;
    position: relative;
    left: 10%;
}


.solid-line {
    border-bottom: 1px;
    border-bottom-style: solid;
    height: 0px;
    color: lightgray;
    margin-top: 10px;
    margin-bottom: 15px;
}



.listing-index-item {
    width: 250px;
    height: 250px;
    padding: 20px;
    padding-bottom: 90px;
}


.listing-index-image {
    border-radius: 20px;
    padding-bottom: 10px;
}


.listing-index-image-main {
    width: 20%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.listing-show-image-main {
    width: 48%;
    height: auto;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-right: 5px;
}

.listing-show-image-small {
    width: 100%;
    height: auto;
    /* padding: 3px; */
    /* border-top-left-radius: 20px; */
    /* border-bottom-left-radius: 20px; */
}

#small-2 {
    border-top-right-radius: 20px;
}


#small-4 {
    border-bottom-right-radius: 20px;
}

.show-page-images {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: 10%;
    margin-top: 15px;
}

.show-page-images:hover {
    cursor: pointer;
}

.show-page-small-images {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
    width: 50%;
    height: auto;
}

#title {
    font-weight: 500;
}

#price {
    font-size: 15px;
}

#price-number {
    font-weight: 500;
}


#location {
    font-size: 14px;
    color: gray;
}


#listing-show-page {
    display: flex;
    flex-direction: column;
}


#listing-show-page > * {
    padding: 3px;
}


#amenities-container {
    position: relative;
    margin-left: 10%;
    width: 40%;
}


.amenities {
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto;
}

.amenities li img {
    width: 25px;
    padding-right: 5px;
}

.amenities li {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}


#ListingPicsModal {
    margin-left: 12.5%;
    position: absolute;
    width: 75%;
    max-height: 90%;
    overflow-y: scroll;
    top: 50px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid lightgray;
    z-index: 3;
}


#ListingPicsModal::-webkit-scrollbar {
    display: none;
}

#ListingPicsModal {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


#ListingPicsModal ul img {
    width: 60%;
    margin-left: 20%;
}


#modal3-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
  }