.listing-index-image {
    width: 500px;
    /* opacity: 0; */
}

.listings-index ul {
    /* list-style-type: none; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.index-show-list-element {
    display: flex;
    flex-direction: column;
}