#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  
  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* z-index: 3; */
  }

  #modal2-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  
  #modal-content {
    position: absolute;
    background-color:white;
    /* width: 575px; */
    /* height: 575px; */
    border-radius: 10px;
    /* z-index: 2; */
  }

  .login-header {
    display: flex;
    justify-content: center;
    font-size: 14;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-color: lightgray;
    padding: 20px;
    font-weight: 600;
    line-height: 20px;
  }

  ul {
    display: flex;
    flex-direction: column;
  }