#small-review-text {
    font-size: 14px;
}

#reviewer-name {
    margin-bottom: 0px;
    font-weight: 600;
}


.review-index-item {
    margin-left: 2%;
    width: 40%;
    margin-right: 8%;
    margin-bottom: 4%;
}

#reviews-index-ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#review-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

#profile-pic-2 {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}