#small-review-text {
    font-size: 14px;
}

#reviewer-name {
    margin-bottom: 0px;
    font-weight: 600;
}


.review-index-item {
    margin-left: 2%;
    width: 40%;
    margin-right: 8%;
    margin-bottom: 4%;
}

#reviews-index-ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#review-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

#profile-pic-2 {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.review-body {
    width: 42%;
    margin-bottom: 20px;
    margin-left: 2%;
}

.review-button {
    margin-left: 3%;
    width: 40%;
    height: 50px;
    background-color:rgb(230, 30, 77);
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    cursor: pointer;
}

.rev-login-notice {
    margin-left: 5%;
}




.rating {
    float: left;
    border: none;
    width: 200px;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}