.reservation-index-item {
    margin-left: 5%;
    width: 90%;
    display: flex;
    margin-bottom: 30px;
    border: 1px lightgray solid;
    border-radius: 20px;
}

.reservation-index-image {
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;    
}

.reservation-info {
    width: 30%;
    margin-left: 5%;
}


.solid-line-reservations {
    border-bottom: 1px;
    border-bottom-style: solid;
    height: 0px;
    color: lightgray;
    margin-top: 10px;
    margin-bottom: 15px;
}

#reservation-more-details {
    display: flex;
    flex-direction: row;
}


#reservation-more-details span {
    margin: 5px;
}

.vertical-line-reservations {
    border-left: 1px solid lightgray;
    height: 30px;
}

.vertical-line-reservations-2 {
    border-left: 1px solid lightgray;
    height: 50px;
}

.dates {
    width: 30%;
}

.reservation-button {
    margin-left: 5%;
    width: 80%;
    height: 50px;
    background-color:rgb(230, 30, 77);
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    cursor: pointer;
}



.cancel-reservation-button {
    width: 100%;
    height: 50px;
    background-color:rgb(230, 30, 77);
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    cursor: pointer;
}

#reservation-price {
    display: flex;
    font-size: 17px;
}

#reservation-price b {
    font-size: 20px;
}


#start-end-dates {
    display: flex;
    border: 1px lightgray solid;
    flex-direction: row;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 90%;
}

#start-end-dates div {
    margin: 10px;
}

#start-end-dates input {
    font-size: 15px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    max-width: 120px;
    border: none;
}


.fees {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
    width: 100%;
    margin-left: -10%;
}

.solid-line-reservations-2 {
    border-bottom: 1px;
    border-bottom-style: solid;
    height: 0px;
    color: lightgray;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 110%;
}

.underline {
    text-decoration: underline;
    margin-right: 160px;
}


#num-guests {
    border: 1px solid lightgray;
    border-top: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 90%;
}

#num-guests div {
    margin: 10px;
    display: flex;
    margin-left: 20px;
}

#num-guests input {
    margin-top: -10px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 15px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    border: none;
}

#checkin-div {
    width: 40%;
}


#reservation-form {
    width: 33%;
    min-width: 400px;
    margin-left: 5%;
}

#other-small-font {
    font-size: 12px;
    font-weight: 500;
}

.date-input {
    margin-left: 10px;
}


.solid-line-reservations-3 {
    border-bottom: 1px;
    border-bottom-style: solid;
    height: 0px;
    color: lightgray;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 87%;
}

.update-info {
    margin-left: 40px;
}

.update-fees {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
    width: 100%;
    margin-left: 0%;
}


.solid-line-reservations-update {
    border-bottom: 1px;
    border-bottom-style: solid;
    height: 0px;
    color: lightgray;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 110%;
}

#link-back-to-res-show {
    width: 100%;
}

#reservation-update-form {
    width: 50%;
}

.res-index-map {
    margin: 10px;
}