.reservation-index-item {
    margin-left: 5%;
    width: 90%;
    display: flex;
    margin-bottom: 30px;
    border: 1px lightgray solid;
    border-radius: 20px;
}

.reservation-index-image {
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;    
}

.reservation-info {
    width: 30%;
    margin-left: 5%;
}


.solid-line-reservations {
    border-bottom: 1px;
    border-bottom-style: solid;
    height: 0px;
    color: lightgray;
    margin-top: 10px;
    margin-bottom: 15px;
}

#reservation-more-details {
    display: flex;
    flex-direction: row;
}


#reservation-more-details span {
    margin: 5px;
}

.vertical-line-reservations {
    border-left: 1px solid lightgray;
    height: 30px;
}

.dates {
    width: 30%;
}

.reservation-button {
    margin-left: 5%;
    width: 90%;
    height: 50px;
    background-color:rgb(230, 30, 77);
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    cursor: pointer;
}

#reservation-price {
    display: flex;
    font-size: 17px;
}

#reservation-price b {
    font-size: 20px;
}


#start-end-dates {
    display: flex;
    /* outline: solid 1px lightgray;
    border-radius: 20px; */
}

#start-end-dates div {
    margin-right: 20px;
}