/* TODO Add site wide styles */

#modal {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 20px;
}

#myModal {
    display: flex;
    justify-content: center;
    position: absolute;
}

#modalButtonImage {
    width: 50px;
}

#modalContent {
    display: flex;
    justify-content: center;
}