#test-index-map-div {
    display: flex;
    flex-direction: row;
}

#the-actual-map {
    position: sticky;
    right: 0px;
    top: 60px;
    bottom: 0;
    width: 30%;
    height: 70%;
    margin-bottom: -10px;
}

#the-listing-index {
    width: 55%;
    height: 70%;
    overflow-y: scroll;
}

#the-listing-index::-webkit-scrollbar {
    display: none;
}



#session-Links {
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    position: absolute;
    top: 50px;
    right: 20px;
}

#root {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

#test-map {
    position: sticky;
    top: 0;
}

