/* TODO Add site wide styles */
/* @import "./components/Listings/Listings.css"; */

.listing-index-image {
    /* width: 300px; */
}

.listings-index ul {
    /* list-style-type: none; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}




.index-show-list-element {
    display: flex;
    flex-direction: column;
}


#session-Links {
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    position: absolute;
    top: 50px;
    right: 20px;
}

#root {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}



